body {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}




/* NAVIGATION BAR */

nav {
    /* height: 100px; */
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
    background-color: #e15b4d;
    margin-bottom: 1.5rem!important;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}


/* FOOTER */

footer {
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
    background-color: #e15b4d;
}

footer a {
    color: #fff;
    text-decoration: none;
}


footer a:hover {
    color: #000;
    text-decoration: none;
}

.container-footer {
    min-width: 100vw;
    --bs-gutter-x: 0;
}


/* Poke Cards */

#all-pokemon {
    display: flex;
    flex-wrap: wrap;
}

.poke-card-small {
    height: 150px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 15px;
    padding-right: 0;
}

.poke-card-small img {
    height: 120px;
    margin-top: -30px;
}