body {
    margin: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.my-4{
    margin: 0!important;
}

/* NAVIGATION BAR */

nav {
    /* height: 100px; */
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
    background-color: #e15b4d;
    margin-bottom: 1.5rem!important;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}


/* FOOTER */

footer {
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
    background-color: #e15b4d;
}

footer a {
    color: #fff;
    text-decoration: none;
}


footer a:hover {
    color: #000;
    text-decoration: none;
}

.container-footer {
    /* min-width: 100vw; */
    --bs-gutter-x: 0;
}


/* Poke Cards */

#all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* min-width: 100vw; */
    padding: 0;
    
}

.poke-card-small {
    height: 150px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px;
    color: #fff;
}

.poke-card-small img {
    height: 110px;
    margin-top: -20px;
}

.types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.types div {
    margin-bottom: 10px;
    border-radius: 15px;
    height: 30px;
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
}